.start-wrapper {
  margin-top: 1em;
  margin-bottom: 2em;
}

.start {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  background-color: #494a43;
}

.start:hover {
  background-color: #44453f;
}

button[disabled] {
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #494a43;
}
