.cup {
  height: 32px;
  width: 40px;
  border-radius: 0 0 150px 150px;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 17px -7px 0 0 rgb(51 51 51 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(51, 51, 51, 0.2);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  top: 31px;
  left: 16px;
}

.cup::before,
.cup::after {
  content: '';
  position: absolute;
  display: block;
}
.cup::before {
  width: 43px;
  height: 31px;
  border-radius: 50%;
  top: -19px;
  left: 0;
  box-shadow: inset 3px 0 0 0 rgb(51 51 51 / 20%), inset 0 0 0 4px #e6e6e6,
    inset 0 14px 0 0 #d6d6d6;
  z-index: 1;
}
.cup::after {
  width: 30px;
  height: 30px;
  border-radius: 0 50% 50%;
  right: -19px;
  top: 0;
  border: 5px solid #e6e6e6;
  box-shadow: inset 7px -7px 0 0 rgb(51 51 51 / 20%),
    3px -3px 0 0 rgb(51 51 51 / 20%);
  width: 10px;
  height: 10px;
  border-radius: 0 50% 50%;
  right: -19px;
  top: 0;
  border: 5px solid #e6e6e6;
  box-shadow: inset 7px -7px 0 0 rgb(51 51 51 / 20%),
    3px -3px 0 0 rgb(51 51 51 / 20%);
}
.cup .coffee {
  position: absolute;
  width: 39px;
  height: 29px;
  top: -18px;
  left: 0;
  border-radius: 50%;
  background: #532d09;
}
.cup .coffee::before,
.cup .coffee::after {
  content: '';
  position: absolute;
  display: block;
  background: rgba(51, 51, 51, 0.2);
  border-radius: 100px 0;
  width: 100px;
  height: 30px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
