.drinks-list {
  position: relative;
  transform: translate(10%, 10px);
  top: 60px;
  left: -83px;
}

.drinks-list li {
  text-align: right;
}

.drinks-list li > button {
  margin-top: 1em;
}

button.drink-button {
  position: relative;
  padding: 3px 1em;
  border-radius: 4px;
}

button.drink-button--is-selected {
  background-color: #dbbf8c;
}

button.drink-button:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #1f1f1f;
  border-radius: 50%;
  position: absolute;
  right: -21px;
}

button.drink-button--is-selected:after {
  background-color: #dbbf8c;
}
