.drinks-list {
  position: absolute;
  transform: translate(10%, 10px);
}

.drinks-list li {
  text-align: right;
}

.drinks-list li > button {
  margin-top: 1em;
}

button.drink-button {
  position: relative;
  padding: 3px 1em;
  border-radius: 4px;
}

button.drink-button:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #4c251d;
  border-radius: 50%;
  position: absolute;
  right: -21px;
}
