.output {
  background-color: #1f1f1f;
  width: 40%;
  height: 120px;
  box-shadow: inset 0px 0px 0px 8px #393a32, inset 0px 0px 0px 16px #4b4c4b,
    inset 0px 0px 0px 24px #828482;
}

.drink-maker-image--T img {
  width: 70px;
  margin-top: 3em;
}

.drink-maker-image--C img {
  max-width: 100px;
  margin-top: -10px;
  margin-left: 22px;
}

.drink-maker-image--H img {
  max-width: 50px;
  margin-top: 1em;
  margin-left: 2px;
}

/* Message box starts here */
.container {
  position: absolute;
  top: 0;
  left: 103%;
}

.container .arrow {
  width: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  top: 30px;
  right: 11px;
}

.container .arrow .outer {
  width: 0;
  height: 0;
  border-right: 20px solid #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.container .arrow .inner {
  width: 0;
  height: 0;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
}

.container .message-body {
  float: left;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 6px 8px;
  border-radius: 5px;
}

.container .message-body p {
  margin: 0;
}
