.sugar-buttons {
  display: flex;
  margin-top: 1.5em;
  margin-left: 1em;
}

.sugar-buttons p {
  margin: 0 0.5em;
  font-size: 1.2em;
  color: #44453f;
  position: relative;
  top: -3px;
}

.sugar-image {
  margin-top: 1em;
  max-width: 80px;
}
