.sugar-buttons {
  display: flex;
  margin-left: 1em;
}

.sugar-buttons p {
  margin: 0 0.5em;
  font-size: 1.2em;
  color: #797979;
  position: relative;
  top: -3px;
}

.sugar-image {
  margin-top: 1em;
  max-width: 80px;
}

button.small {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 2px;
  background-color: #f7f4ea;
  color: #363636;
}
