.sugar-buttons {
  display: flex;
  margin-top: 1.5em;
  margin-left: 0.7em;
}

.sugar-buttons p {
  margin: 0 1em;
  padding-top: 2px;
  font-size: 1.2em;
  color: #e6e6e6;
}

.sugar-image {
  margin-top: 1em;
  max-width: 80px;
}
