small {
  color: #878787;
}

.input {
  background: #dddddd;
  position: relative;
  width: 39px;
  padding: 0;
  height: 29px;
  width: 35px;
  height: 35px;
  color: black;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 4px;
  margin: 1.5em auto 0 auto;
  display: block;
  margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
