small {
  color: #878787;
}

.input {
  background: #dddddd;
  position: relative;
  padding: 0;
  width: 35px;
  height: 35px;
  color: black;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 4px;
  display: block;
  margin: 1.5em auto 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
