footer > button {
  background-color: transparent;
  color: #393a32;
}

footer > button:hover {
  background-color: #f7f4ea;
}

table {
  width: 100%;
}

code {
  background-color: #ffe9ed;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.react-responsive-modal-modal {
  background-color: #fbfbfb !important;
}

.block {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 1em;
}

.block h3 {
  padding: 0.5em 0;
  margin-bottom: 0;
  margin-top: 0;
  color: tomato;
}

.block h4 {
  padding: 0 0 0 20px;
  margin: 1.5em 0 1em 0;
  position: relative;
}

.block h4:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 9px solid tomato;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: 0;
  top: 0px;
}

.example {
  text-align: center;
  border: 1px solid #ccc;
  padding: 1em;
}

.block small {
  font-style: italic;
}
