@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #fbfbfb;
}

.root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 70px;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  color: #44453f;
  font-size: 47px;
  font-weight: 600;
}

ul {
  padding: 0;
  text-align: left;
  margin-top: 0;
  list-style: none;
}

button {
  background-color: #4a4a4a;
  border: none;
  color: white;
  padding: 1em 2.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #535353;
}

button.small {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 2px;
  background-color: #44453f;
}

h2 {
  color: #606060;
  font-size: 1.2em;
  margin-top: 1.4em;
}

.drink-maker {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 500px;
  color: #fff;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  background-color: #363636;
  border: 4px solid black;
  box-sizing: border-box;
}

.maker {
  text-align: center;
}

.drinks {
  width: 65%;
  padding: 0 0.5em;
  box-sizing: border-box;
  background-color: #f2f1dd;
}

.sugar {
  border-right: none;
  background-color: #44453f;
  width: 35%;
}

.output {
  background-color: #1f1f1f;
  width: 40%;
  height: 120px;
  box-shadow: inset 0px 0px 0px 8px #393a32, inset 0px 0px 0px 16px #4b4c4b,
    inset 0px 0px 0px 24px #828482;
}
