@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #f5d3a8;
}

.root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 30px;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  color: #6a3625;
  font-size: 47px;
  font-weight: 600;
}

ul {
  padding: 0;
  text-align: left;
  margin-top: 0;
  list-style: none;
}

button {
  background-color: #815856;
  border: none;
  color: white;
  padding: 1em 2.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #6a3625;
}

button.small {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 2px;
}

h2 {
  color: #805d52;
  font-size: 1.2em;
  margin-top: 1.4em;
}

.drink-maker {
  display: flex;
  background-color: #6a3625;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 400px;
  color: #fff;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.maker {
  text-align: center;
  border: 1px solid #805d52;
}

.drinks {
  width: 55%;
  background-color: #f0c289;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.sugar {
  background-color: #f0c896;
  padding: 0 1em;
  width: 35%;
  border-right: none;
}
